<form [formGroup]="meuForm" (submit)="onSubmit()">
    <div class="mb-3">
        <label for="exampleInputNome1" class="form-label">Nome do produto</label>
        <input type="text" class="form-control" id="exampleInputNome1" formControlName="nome" >
    </div>

    <div class="mb-3">
        <label for="exampleInputPreco1" class="form-label">Valor</label>
        <input type="number" class="form-control" id="preco" formControlName="preco">
    </div>

    <div class="mb-3">
        <label for="exampleInputDescricao1" class="form-label">Descrição</label>
        <input type="text" class="form-control" id="exampleInputDescricao1" formControlName="descricao" >
    </div>

    <div class="mb-3">
        <label for="categoria" class="form-label">Categoria</label>
       <select class="form-control" formControlName="categorias">
           <option value=""> SELECIONE</option>
           <option *ngFor="let cat of categoriasSelect" [value]="cat.idCategoria">{{ cat.nome }}</option>
       </select>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>