<form [formGroup]="meuForm" (submit)="onSubmit()" >
    <div class="mb-3">
        <label for="exampleInputNome1" class="form-label">Nome do produto</label>
        <input type="text" class="form-control" id="exampleInputNome1" formControlName="nome" >
    </div>

    <div class="mb-3">
        <label for="exampleInputPreco1" class="form-label">Valor</label>
        <input type="number" class="form-control" id="preco" formControlName="preco">
    </div>

    <div class="mb-3">
        <label for="exampleInputDescricao1" class="form-label">Descrição</label>
        <input type="text" class="form-control" id="exampleInputDescricao1" formControlName="descricao" >
    </div>

    <div class="mb-3">
        <label for="exampleInputDescricao1" class="form-label">Categoria Primaria</label>
        <input type="text" class="form-control" id="exampleInputcategoria1" formControlName="categorias" >
    </div>

    <div class="mb-3">
        <label for="exampleInputDescricao1" class="form-label">Categoria Secundaria</label>
        <input type="text" class="form-control" id="exampleInputcategoria1" formControlName="categorias" >
    </div>

    <div class="mb-3">
        <label for="exampleInputimagens1" class="form-label">Imagens</label>
        <input type="file" class="form-control" id="exampleInputimagens1" formControlName="imagens" accept="image/png, image/jpeg">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="meuForm.valid" >Enviar</button>